name: Build Client

on:
  push:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - name: 'Set up latest JDK code tool jextract'
        uses: oracle-actions/setup-java@v1
        with:
          website: jdk.java.net
          release: jextract
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "25"
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-workspaces: windows_helper
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew client:packageReleaseDistributionForCurrentOS
      - run: mv 'GTA Killer-*.msi' client.msi
        working-directory: client/build/compose/binaries/main-release/msi/
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: client/build/compose/binaries/main-release/msi/*.msi
